extends layout
block blogPostNav
    li.nav-item.active
        a.nav-link(href='#') Blog Posts
block append styles
    link(href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet")
block append scripts
    script(src="//cdn.quilljs.com/1.3.6/quill.min.js")

block body
    h1 Add blog post
    hr
    if valErrors
        each error in valErrors
            .alert.alert-danger= error.msg
    form#dataForm(method='post' action='/trainer/blogPost/edit')
        if post._id
            input#id(value=post._id name='id' readonly hidden)
        .form-group
            label(for='title') Title:
            input#title.form-control(value=(post.title) name='title' required)
        .form-group
            #editor
            input#quill(name='quill' hidden readonly value=post.quillDeltaJson)
        .form-group
            label(for='date') Date:
            input#date.form-control(name='date' type='date' value=(new Date(post.date ? post.date : Date.now()).toISOString().slice(0, 10)) readonly=true)
        .form-group
            button#submitBtn.btn.btn-primary(type='button') Submit

block script
    script.
        $(document).ready(function () {
            var toolbarOptions = [
                ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                ['blockquote', 'code-block'],

                [{'header': 1}, {'header': 2}],               // custom button values
                [{'list': 'ordered'}, {'list': 'bullet'}],
                [{'script': 'sub'}, {'script': 'super'}],      // superscript/subscript
                [{'indent': '-1'}, {'indent': '+1'}],          // outdent/indent
                [{'direction': 'rtl'}],                         // text direction

                [{'size': ['small', false, 'large', 'huge']}],  // custom dropdown
                [{'header': [1, 2, 3, 4, 5, 6, false]}],

                [{'color': []}, {'background': []}],          // dropdown with defaults from theme
                [{'font': []}],
                [{'align': []}],

                ['clean'],                                         // remove forma  tting button

                ['link', 'image', 'video', 'formula'],          // add's image support
            ];

            var quill = new Quill('#editor', {
                modules: {
                    toolbar: toolbarOptions
                },
                theme: 'snow'
            });
            let preloadVar = $('#quill').val()
            if (preloadVar) {
                quill.setContents(JSON.parse(preloadVar));
            }

            $('#submitBtn').on('click', function () {
                console.log('CLICK CLACK CLUCK')
                $('#quill').val(JSON.stringify(quill.getContents()));
                document.getElementById("dataForm").submit();
            });
        })