extends layout
block blogPostNav
    li.nav-item.active
        a.nav-link(href='#') Blog Posts
block body
    h1 List of all blog posts
    hr
    p
        a.btn.btn-primary(href='/trainer/blogPost/edit') Add post
    br
    table.table.table-striped
        thead
            tr
                th(scope='col') Title
                th(scope='col') Date
                th(scope='col') Edit
                th(scope='col') Delete
        tbody
            each post in posts
                tr
                    td=post.title
                    td=new Date(post.date).toISOString().slice(0, 10)
                    td
                        a.btn.btn-warning(href="/trainer/blogPost/edit/" + post._id)
                            span.oi.oi-pencil
                    td
                        form(method="post" action="/trainer/blogPost/delete/" + post._id)
                            button.btn.btn-danger(type="submit")
                                span.oi.oi-trash
