extends layout
block branchNav
    li.nav-item.active
        a.nav-link(href='#') Branches
block body
    h1 List of all branches
    hr
    p
        a.btn.btn-primary(href='/trainer/branch/edit') Add branch
    br
    table.table.table-striped
        thead
            tr
                th(scope='col') Name
                th(scope='col') School
                th(scope='col') Edit
                th(scope='col') Delete
        tbody
            each branch in branches
                tr
                    td=branch.name
                    if branch.school
                        td=branch.school.name
                    else
                        td NONE
                    td
                        a.btn.btn-warning(href="/trainer/branch/edit/" + branch._id)
                            span.oi.oi-pencil
                    td
                        form(method="post" action="/trainer/branch/delete/" + branch._id)
                            button.btn.btn-danger(type="submit")
                                span.oi.oi-trash
