extends layout
block branchNav
    li.nav-item.active
        a.nav-link(href='#') Branches
block body
    h1 Add branch
    hr
    if valErrors
        each error in valErrors
            .alert.alert-danger= error.msg
    form(method='post' action='/trainer/branch/edit')
        if branch._id
            input#id(value=branch._id name='id' readonly hidden)
        .form-group
            label(for='name') Name:
            input#name.form-control(value=(branch.name ? branch.name : "") name='name' required)
        .form-group
            label(for='school_id') School:
            select#school_id.form-control(name='school_id' required)
                each school in schools
                    if branch._id
                        option(value=school._id selected=(school._id.toString() === branch.school._id.toString()))=school.name + '(' + school.address + ')'
                    else
                        option(value=school._id)=school.name + '(' + school.address + ')'
        .form-group
            button.btn.btn-primary(type='submit') Submit
