extends layout
block examNav
    li.nav-item.active
        a.nav-link(href='#') Exams
block body
    h1 Add branch
    hr
    if valErrors
        each error in valErrors
            .alert.alert-danger= error.msg
    form(method='post' action='/trainer/exam/edit')
        if exam._id
            input#id(value=exam._id name='id' readonly hidden)
        .form-group
            label(for='date') Date:
            input#date.form-control(value=(exam.date ? new Date(exam.date).toISOString().slice(0, 10) : "") name='date' required type="date")
        .form-group
            label(for='branch_id') Branch:
            select#branch_id.form-control(name='branch_id' required)
                each branch in branches
                    if exam._id || exam.branch_id
                        option(value=branch._id selected=(branch._id.toString() === exam.branch_id))=branch.name
                    else
                        option(value=branch._id)=branch.name
        .form-group
            label(for='trainee_id') Select trainees for exam:
            select#trainee_id.form-control
                option(value="none" selected) Select a trainee
                each trainee in trainees
                    if !(selectedTrainees && selectedTrainees.includes(trainee._id.toString()))
                        option(value=trainee._id)=trainee.surname + ' ' + trainee.name + ' ' + trainee.fathersName
        #selected-trainees.form-group
            if selectedTrainees
                each trainee in trainees
                    if selectedTrainees.includes(trainee._id.toString())
                        div.row
                            button.btn.btn-danger.precreatedBtn(type='button' id=trainee._id)
                                span.oi.oi-trash
                            p(style="margin-left: 10px;")=trainee.surname + ' ' + trainee.name + ' ' + trainee.fathersName
                            input(readonly hidden value=trainee._id name='selectedTrainees[]')
                        br
        .form-group
            button.btn.btn-primary(type='submit') Submit

block script
    script.
        $(document).ready(function () {
            $('.precreatedBtn').on('click', function (e) {
                const nameP = $(e.currentTarget).siblings('p').text();
                const valInput = $(e.currentTarget).siblings('input').val();
                $("#trainee_id").append($(`<option value='${valInput}'>${nameP}</option>`))
                $(e.currentTarget).parent('div').remove();
            });

            $("#trainee_id").change(function () {
                $("#trainee_id option[value=none]").attr('selected');
                const selected = $("#trainee_id option:selected");
                const selectedVal = selected.val();
                const selectedText = selected.text();
                console.log('#' + selectedVal);
                $("#selected-trainees").append($("<div class='row'><button type='button' class='btn btn-danger' id='" + selectedVal + "'><span class=\"oi oi-trash\"></span></button><p style=\"margin-left: 10px;\">" + selectedText + "</p><input type='text' name='selectedTrainees[]' hidden readonly value='" + selectedVal + "'><div><br>"))
                $('#' + selectedVal).on('click', function (e) {
                    const nameP = $(e.currentTarget).siblings('p').text();
                    const valInput = $(e.currentTarget).siblings('input').val();
                    $("#trainee_id").append($(`<option value='${valInput}'>${nameP}</option>`))
                    $(e.currentTarget).parent('div').remove();
                });
                selected.remove();
            });
        });
