extends layout
block examNav
    li.nav-item.active
        a.nav-link(href='#') Exams
block body
    h1 List of all exams
    hr
    p
        a.btn.btn-primary(href='/trainer/exam/edit') Add exam
    br
    table.table.table-striped
        thead
            tr
                th(scope='col') Date
                th(scope='col') Branch
                th(scope='col') Exam
                th(scope='col') Edit
                th(scope='col') Delete
        tbody
            each exam in exams
                tr
                    td=new Date(exam.date).toISOString().slice(0, 10)
                    if exam.branch
                        td=exam.branch.name
                    else
                        td NONE
                    td
                        a.btn.btn-success(href="/trainer/exam/show/" + exam._id)
                            span.oi.oi-tag
                    td
                        a.btn.btn-warning(href="/trainer/exam/edit/" + exam._id)
                            span.oi.oi-pencil
                    td
                        form(method="post" action="/trainer/exam/delete/" + exam._id)
                            button.btn.btn-danger(type="submit")
                                span.oi.oi-trash
