extends layout
block examNav
    li.nav-item.active
        a.nav-link(href='#') Exams
block body
    h1=`Exam ${new Date(exam.date).toISOString().slice(0, 10)} at ${exam.branch.name} conclusion for ${trainee.FullName()}`
    hr
    if valErrors
        each error in valErrors
            .alert.alert-danger= error.msg
    form(method='post' action=`/trainer/exam/show/${exam._id.toString()}/${trainee._id.toString()}`)
        - const examData = trainee.GetExam(exam._id.toString());
        - console.log(examData);
        .form-group
            label(for='notices') Notices:
            textarea#notices.form-control(name='notices' required)=(examData ? examData.notices : "")
        .form-group
            label(for='conclusion') Conclusion:
            textarea#conclusion.form-control(name='conclusion' required)=(examData ? examData.conclusion : "")
        .form-group
            .form-check
                input#passed.form-check-input(checked=(examData ? examData.passed : "") name='passed' type="checkbox")
                label.form-check-label(for='passed') Exam Passed:
        .form-group
            button.btn.btn-primary(type='submit') Submit
