extends layout
block examNav
    li.nav-item.active
        a.nav-link(href='#') Exams
block body
    h1=`Exam ${new Date(exam.date).toISOString().slice(0, 10)} at ${exam.branch.name}`
    table.table.table-striped
        thead
            tr
                th(scope='col') Trainee
                th(scope='col') Passed
                th(scope='col') Conclusion
        tbody
            each trainee in exam.participants
                tr
                    td=trainee.FullName()
                    td
                        input(type="checkbox" disabled checked=trainee.PassedExam(exam._id.toString()))
                    td
                        a.btn.btn-success(href=`/trainer/exam/show/${exam._id.toString()}/${trainee._id.toString()}`)
                            span.oi.oi-tag
