extends layout
block schoolNav
    li.nav-item.active
        a.nav-link(href='#') Schools
block body
    h1 Add school
    hr
    if valErrors
        each error in valErrors
            .alert.alert-danger= error.msg
    form(method='post' action='/trainer/school/edit')
        if school.id
            input#id(value=school._id name='id' readonly hidden)
        .form-group
            label(for='name') Name:
            input#name.form-control(value=(school.name ? school.name : "") name='name' required)
        .form-group
            label(for='address') Address:
            input#address.form-control(value=(school.address ? school.address : "") name='address' required)
        .form-group
            button.btn.btn-primary(type='submit') Submit
