extends layout
block schoolNav
    li.nav-item.active
        a.nav-link(href='#') Schools
block body
    h1 List of all schools
    hr
    p
        a.btn.btn-primary(href='/trainer/school/edit') Add school
    br
    table.table.table-striped
        thead
            tr
                th(scope='col') Name
                th(scope='col') Address
                th(scope='col') Edit
                th(scope='col') Delete
        tbody
            each school in schools
                tr
                    td=school.name
                    td=school.address
                    td
                        a.btn.btn-warning(href="/trainer/school/edit/" + school._id)
                            span.oi.oi-pencil
                    td
                        form(method="post" action="/trainer/school/delete/" + school._id)
                            button.btn.btn-danger(type="submit")
                                span.oi.oi-trash
