extends layout
block seminarNav
    li.nav-item.active
        a.nav-link(href='#') Seminars
block body
    h1 List of all seminars
    hr
    p
        a.btn.btn-primary(href='/trainer/seminar/edit') Add seminar
    br
    table.table.table-striped
        thead
            tr
                th(scope='col') Date
                th(scope='col') Name
                th(scope='col') Branch
                th(scope='col') Set Protocol
                th(scope='col') Edit
                th(scope='col') Delete
        tbody
            each seminar in seminars
                tr
                    td=new Date(seminar.date).toISOString().slice(0, 10)
                    td=seminar.title
                    if seminar.branch
                        td=seminar.branch.name
                    else
                        td NONE
                    td
                        - console.log(seminar);
                        span(style='margin-right: 5px')
                            if seminar.protocolName && seminar.protocolUrl
                                a(href=seminar.protocolUrl)=seminar.protocolName
                            else
                                a(href='#') No Protocol
                        button.btn.btn-success(type="button" onclick=`$("[seminarId='${seminar._id.toString()}']").click()`)
                            span.oi.oi-book
                        input(seminarId=seminar._id type="file" hidden)
                    td
                        a.btn.btn-warning(href="/trainer/seminar/edit/" + seminar._id)
                            span.oi.oi-pencil
                    td
                        form(method="post" action="/trainer/seminar/delete/" + seminar._id)
                            button.btn.btn-danger(type="submit")
                                span.oi.oi-trash

block script
    script.
        $(document).ready(function () {
            $("[type='file']").on('change', function (e) {
                const id = $(e.currentTarget).attr('seminarId');
                const selectedFile = e.currentTarget.files[0];
                let formData = new FormData();
                formData.append("file", selectedFile);
                console.log(`${window.location.hostname}/trainer/seminar/upload/${id}`);
                fetch(`/trainer/seminar/protocol/${id}`, {method: "POST", body: formData})
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (responseObj) {
                        let a = $(e.currentTarget).siblings("span").children("a")
                        a.text(responseObj.fileName)
                        a.attr("href", responseObj.filePath)
                    });
            });
        });
