extends layout
block traineeNav
    li.nav-item.active
        a.nav-link(href='#') Trainees
block body
    h1 List of all trainees
    hr
    p
        a.btn.btn-primary(href='/trainer/trainee/edit') Add trainee
    br
    table.table.table-striped
        thead
            tr
                th(scope='col') Name
                th(scope='col') Branch
                th(scope='col') Edit
                th(scope='col') Delete
        tbody
            each trainee in trainees
                tr
                    td=trainee.surname + ' ' + trainee.name + ' ' + trainee.fathersName
                    if trainee.trainer && trainee.trainer.branch
                        td=trainee.trainer.branch.name
                    else
                        td NONE
                    td
                        a.btn.btn-warning(href="/trainer/trainee/edit/" + trainee._id)
                            span.oi.oi-pencil
                    td
                        form(method="post" action="/trainer/trainee/delete/" + trainee._id)
                            button.btn.btn-danger(type="submit")
                                span.oi.oi-trash
