extends layout
block trainerNav
    li.nav-item.active
        a.nav-link(href='#') Trainers
block body
    h1=(trainer._id ? 'Edit' : 'Add') + ' trainer'
    hr
    if valErrors
        each error in valErrors
            .alert.alert-danger= error.msg
    form(method='post' action='/trainer/trainer/edit')
        if trainer._id
            input#id(value=trainer._id name='id' readonly hidden)
        .form-group
            label(for='name') Name:
            input#name.form-control(value=(trainer.name ? trainer.name : "") name='name' required)
        .form-group
            label(for='surname') Surname:
            input#surname.form-control(value=(trainer.surname ? trainer.surname : "") name='surname' required)
        .form-group
            label(for='fathersName') Father`s name:
            input#fathersName.form-control(value=(trainer.fathersName ? trainer.fathersName : "") name='fathersName' required)
        .form-group
            label(for='title') Title:
            input#title.form-control(value=(trainer.title ? trainer.title : "") name='title' required)
        .form-group
            label(for='about') About:
            textarea#about.form-control(name='about' required)=(trainer.about ? trainer.about : "")
        .form-group
            label(for='phone') Phone:
            input#phone.form-control(value=(trainer.phone ? trainer.phone : "") name='phone' required type="phone")
        .form-group
            label(for='email') E-mail:
            input#email.form-control(value=(trainer.email ? trainer.email : "") name='email' required type="email")
        .form-group
            label(for='birthDate') Birth Date:
            input#birthDate.form-control(value=(trainer.birthDate ? new Date(trainer.birthDate).toISOString().slice(0, 10) : "") name='birthDate' required type="date")
        label(for='level') Level:
        .form-group
            .row
                .col
                    input#level.form-control(name='level' required type="number" min=1 max=10 step=1 value=trainer.level)
                .col
                    select.form-control(name='levelType' required)
                        option(value="QUE" selected=(trainer.levelType === "QUE")) Que
                        option(value="DAN" selected=(trainer.levelType === "DAN")) Dan
        .form-group
            label(for='branch_id') Branch:
            select#branch_id.form-control(name='branch_id' required)
                each branch in branches
                    if trainer._id
                        option(value=branch._id selected=(branch._id.toString() === trainer.branch._id.toString()))=branch.name
                    else
                        option(value=branch._id)=branch.name
        .form-group
            label(for='password') Password:
            input#password.form-control(name='password' required=(!trainer._id) type="password")
        .form-group
            .form-check
                input#isMaster.form-check-input(checked=trainer.isMaster name='isMaster' type="checkbox")
                label.form-check-label(for='isMaster') Is Master Trainer:
        .form-group
            button.btn.btn-primary(type='submit') Submit
