extends layout
block trainerNav
    li.nav-item.active
        a.nav-link(href='#') Trainers
block body
    h1 List of all trainers
    hr
    p
        a.btn.btn-primary(href='/trainer/trainer/edit') Add trainer
    br
    table.table.table-striped
        thead
            tr
                th(scope='col') Name
                th(scope='col') Branch
                th(scope='col') Edit
                th(scope='col') Delete
        tbody
            each trainer in trainers
                tr
                    td=trainer.surname + ' ' + trainer.name + ' ' + trainer.fathersName
                    if trainer.branch
                        td=trainer.branch.name
                    else
                        td NONE
                    td
                        a.btn.btn-warning(href="/trainer/trainer/edit/" + trainer._id)
                            span.oi.oi-pencil
                    td
                        form(method="post" action="/trainer/trainer/delete/" + trainer._id)
                            button.btn.btn-danger(type="submit")
                                span.oi.oi-trash
