extends layout
block traineeNav
    li.nav-item.active
        a.nav-link(href='#') Trainees
block body
    h1=(trainee._id ? 'Edit' : 'Add') + ' trainee'
    hr
    if valErrors
        each error in valErrors
            .alert.alert-danger= error.msg
    form(method='post' action='/trainer/trainee/edit')
        if trainee._id
            input#id(value=trainee._id name='id' readonly hidden)
        .form-group
            label(for='name') Name:
            input#name.form-control(value=(trainee.name ? trainee.name : "") name='name' required)
        .form-group
            label(for='surname') Surname:
            input#surname.form-control(value=(trainee.surname ? trainee.surname : "") name='surname' required)
        .form-group
            label(for='fathersName') Father`s name:
            input#fathersName.form-control(value=(trainee.fathersName ? trainee.fathersName : "") name='fathersName' required)
        .form-group
            label(for='phone') Phone:
            input#phone.form-control(value=(trainee.phone ? trainee.phone : "") name='phone' required type="phone")
        .form-group
            label(for='email') E-mail:
            input#email.form-control(value=(trainee.email ? trainee.email : "") name='email' required type="email")
        .form-group
            label(for='birthDate') Birth Date:
            input#birthDate.form-control(value=(trainee.birthDate ? new Date(trainee.birthDate).toISOString().slice(0, 10) : "") name='birthDate' required type="date")
        label(for='level') Level:
        .form-group
            .row
                .col
                    input#level.form-control(name='level' required type="number" min=1 max=10 step=1 value=trainee.level)
                .col
                    select.form-control(name='levelType' required)
                        option(value="QUE" selected=(trainee.levelType === "QUE")) Que
                        option(value="DAN" selected=(trainee.levelType === "DAN")) Dan
        .form-group
            label(for='trainer_id') Trainer:
            select#trainer_id.form-control(name='trainer_id' required)
                each trainer in trainers
                    if trainee._id
                        option(value=trainer._id selected=(trainer._id.toString() === trainee.trainer._id.toString()))=trainer.surname + ' ' + trainer.name + ' ' + trainer.fathersName
                    else
                        option(value=trainer._id)=trainer.surname + ' ' + trainer.name + ' ' + trainer.fathersName
        .form-group
            button.btn.btn-primary(type='submit') Submit
