extends layout

block body
    .card.mb-3.shadow
        .row.no-gutters
            .card-body.text-center
                h5 Our latest news
    each post in posts
        a(href=`/post/${post._id}`)
            .card.mb-3.shadow.mx-auto(style='max-width: 540px;')
                .row.no-gutters
                    .card-body
                        h5.card-title=post.title
                        p.card-text
                            small.text-muted=new Date(post.date).toISOString().slice(0, 10)