extends layout
block append styles
    link(href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet")
block append scripts
    script(src="//cdn.quilljs.com/1.3.6/quill.min.js")
block body
    .card.shadow
        .card-header
            .card-row
                p=post.title
                small.text-muted=new Date(post.date).toISOString().slice(0, 10)
        .card-body
            #editor
            input#quill(hidden readonly value=post.quillDeltaJson)

block script
    script.
        $(document).ready(function () {
            var quill = new Quill('#editor', {
                readOnly: true,
                theme: 'snow',
                modules: {
                    toolbar: false
                }
            });
            let preloadVar = $('#quill').val()
            quill.setContents(JSON.parse(preloadVar));
        });
