extends layout
block body
    .card.mb-3.shadow
        .row.no-gutters
            .card-body.text-center
                h5 Branches
    table.table.table-striped
        thead
            tr
                th(scope='col') Branch
                th(scope='col') School
                th(scope='col') Trainees
                th(scope='col') Trainers
        tbody
            each branch in branches
                tr
                    td=branch.name
                    td=branch.school.name
                    td
                        a.btn.btn-primary(href=`/trainee/branch/trainee/${branch._id}`)
                            span.oi.oi-magnifying-glass
                    td
                        a.btn.btn-success(href=`/trainee/branch/trainer/${branch._id}`)
                            span.oi.oi-magnifying-glass