extends layout
block body
    .card.mb-3.shadow
        .row.no-gutters
            .card-body.text-center
                h5=`Trainees of ${branch.name}`
    table.table.table-striped
        thead
            tr
                th(scope='col') Name
                th(scope='col') Level
                th(scope='col') Trainer
                th(scope='col') Info
        tbody
            each trainee in trainees
                tr
                    td=trainee.FullName()
                    td=`${trainee.level} ${trainee.levelType}`
                    td
                        a(href=`/trainee/info/trainer/${trainee.trainer._id}`)=trainee.trainer.FullName()
                    td
                        a.btn.btn-primary(href=`/trainee/info/trainee/${trainee._id}`)
                            span.oi.oi-magnifying-glass
