extends layout
block body
    .card.mb-3.shadow
        .row.no-gutters
            .card-body.text-center
                h5=`Trainers of ${branch.name}`
    table.table.table-striped
        thead
            tr
                th(scope='col') Name
                th(scope='col') Level
                th(scope='col') Info
        tbody
            each trainer in trainers
                tr
                    td=trainer.FullName()
                    td=`${trainer.level} ${trainer.levelType}`
                    td
                        a.btn.btn-success(href=`/trainee/info/trainer/${trainer._id}`)
                            span.oi.oi-magnifying-glass
