extends layout
block body
    .card.mb-3.shadow
        .row.no-gutters
            .card-body.text-center
                h5=`Exam ${new Date(exam.date).toISOString().slice(0, 10)} at `
                    a(href=`/trainee/branch/${exam.branch._id.toString()} `)=exam.branch.name
                    |      report for
                    a(href=`/trainee/info/trainee/${trainee.id}`)=`${trainee.FullName()}`
    - const examData = trainee.GetExam(exam._id.toString());
    .row
        .col-sm-6
            .card.shadow
                .card-header Notices
                .card-body=examData.notices
        .col-sm-6
            .card.shadow
                .card-header Conclusion
                .card-body=examData.conclusion
    br
    if examData.passed
        .card.text-white.bg-success.shadow
            .card-header Congratulations !
            .card-body
                p.card-text
                    | Exam passed successfully !
    else
        .card.text-white.bg-danger.shadow
            .card-header Keep practicing !
            .card-body
                p.card-text
                    | You have not passed exam. Maybe you should try a little bit harder !

