extends layout
block body
    .card.mb-3.shadow
        .row.no-gutters
            .card-body.text-center
                h5=`Exam ${new Date(exam.date).toISOString().slice(0, 10)} at ${exam.branch.name}`
    table.table.table-striped
        thead
            tr
                th(scope='col') Name
                th(scope='col') Passed
                th(scope='col') Report
        tbody
            each trainee in exam.participants
                tr
                    td
                        a(href=`/trainee/info/trainee/${trainee._id}`)=trainee.FullName()
                    td
                        input(type="checkbox" readonly checked=trainee.PassedExam(exam._id.toString()))
                    td
                        a.btn.btn-success(href=`/trainee/exam/${exam._id}/${trainee._id}`)
                            span.oi.oi-magnifying-glass
