extends layout
block body
    .card.mb-3.shadow
        .row.no-gutters
            .card-body.text-center
                h5 Exams
    table.table.table-striped
        thead
            tr
                th(scope='col') Date
                th(scope='col') Branch
                th(scope='col') Info
        tbody
            each exam in exams
                tr
                    td=new Date(exam.date).toISOString().slice(0, 10)
                    td
                        a(href=`/trainee/branch/trainee/${exam.branch._id.toString()}`)=exam.branch.name
                    td
                        a.btn.btn-success(href=`/trainee/exam/${exam._id}`)
                            span.oi.oi-magnifying-glass
