extends layout
block body
    .row
        .col-sm-4
            a(href="/trainee/exam")
                .card.shadow
                    .card-body
                        h5.card-title Exams
                        p.card-text See list of all exams and trainee performance
        .col-sm-4
            a(href="/trainee/branch")
                .card.shadow
                    .card-body
                        h5.card-title Branches
                        p.card-text See all branches and their trainees and trainers
        .col-sm-4
            a(href="/trainee/seminar")
                .card.shadow
                    .card-body
                        h5.card-title Seminars
                        p.card-text See list of all seminars and their protocols
