html
    head
        if title
            title=title
        else
            title School Manager
        block meta
            meta(name=viewport content="width=device-width, initial-scale=1, shrink-to-fit=no")
        block styles
            link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css")
        block scripts
            script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
            script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    body
        block header
            nav.navbar.navbar-expand-lg.navbar-light.bg-light
                a.navbar-brand(href='/') School Manager
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNav.collapse.navbar-collapse
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href='/trainee') For Trainees
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href='/trainer') For Trainers
        br
        .container
            block body
        block footer
        block script
            script.
                $(document).ready(function () {
                    $(".toast").toast('show');
                });
