extends layout
block body
    .card.mb-3.shadow
        .row.no-gutters
            .card-body.text-center
                h5 Seminars
    table.table.table-striped
        thead
            tr
                th(scope='col') Date
                th(scope='col') Title
                th(scope='col') Info
        tbody
            each seminar in seminars
                tr
                    td=new Date(seminar.date).toISOString().slice(0, 10)
                    if seminar.branch
                        td=seminar.branch.name
                    else
                        td NONE
                    td
                        a.btn.btn-success(href=`/trainee/seminar/${seminar._id}`)
                            span.oi.oi-magnifying-glass
