extends layout
block body
    .card.mb-3.shadow
        .row.no-gutters
            .card-body.text-center
                h5=`Seminar ${new Date(seminar.date).toISOString().slice(0, 10)} at ${seminar.branch.name} "${seminar.title}"`
    .card.shadow
        .card-header Description
        .card-body=seminar.description
    if seminar.protocolUrl && seminar.protocolName
        br
        .card.shadow
            .card-header Protocol
            .card-body
                a.text-white.btn.btn-success(href=seminar.protocolUrl)=seminar.protocolName
    br
    .card.shadow
        .card-header Participants
        ul.list-group
            each trainee in seminar.participants
                li.list-group-item=trainee.FullName()
