extends layout
block body
    .card.shadow
        .card-header.text-center
            h5=`Trainer ${trainer.FullName()}`
        .card-body
            p=trainer.title
            p=trainer.about
            p=`Birthday: ${new Date(trainer.birthDate).toISOString().slice(0, 10)}`
            p=`Level: ${trainer.level} ${trainer.levelType}`
            p Branch:
                a(href=`/trainee/branch/trainee/${trainer.branch._id.toString()}`)=` ${trainer.branch.name}`
            p=`Contact Phone: ${trainer.phone}`
            p=`Contact Email: ${trainer.email}`
    br
    .card.shadow
        .card-header Trainees
        ul.list-group
            each trainee in trainees
                li.list-group-item
                    a(href=`/trainee/info/trainee/${trainee._id.toString()}`)=trainee.FullName()