extends layout
block body
    .card.shadow
        .card-header.text-center
            h5=`Trainee ${trainee.FullName()}`
        .card-body
            p=`Birthday: ${new Date(trainee.birthDate).toISOString().slice(0, 10)}`
            p=`Level: ${trainee.level} ${trainee.levelType}`
            p Trainer:
                a(href=`/trainee/info/trainer/${trainee.trainer._id.toString()}`)=` ${trainee.trainer.FullName()}`
    br
    .card.shadow
        .card-header Exams
        ul.list-group
            each exam in trainee.exams
                li.list-group-item
                    if exam.passed
                        a.btn.btn-success.white-text(href=`/trainee/exam/${exam.exam._id.toString()}/${trainee._id.toString()}`)
                            span.oi.oi-circle-check
                            span=` ${new Date(exam.exam.date.toString()).toISOString().slice(0, 10)}`
                    else
                        a.btn.btn-danger.white-text(href=`/trainee/exam/${exam.exam._id.toString()}/${trainee._id.toString()}`)
                            span.oi.oi-circle-x
                            span=` ${new Date(exam.exam.date.toString()).toISOString().slice(0, 10)}`